In [1]:
from pymongo import MongoClient

In [3]:
#Creating database in MongoDB
KARTHIKASI= MongoClient("mongodb://KARTHIKASI:Data12@ac-w3rgwgl-shard-00-00.sua4tju.mongodb.net:27017,ac-w3rgwgl-shard-00-01.sua4tju.mongodb.net:27017,ac-w3rgwgl-shard-00-02.sua4tju.mongodb.net:27017/?ssl=true&replicaSet=atlas-ir5kqg-shard-0&authSource=admin&retryWrites=true&w=majority")
db = KARTHIKASI["TelephoneDirectory"]
collection=db["Info"]
collection

Collection(Database(MongoClient(host=['ac-w3rgwgl-shard-00-01.sua4tju.mongodb.net:27017', 'ac-w3rgwgl-shard-00-00.sua4tju.mongodb.net:27017', 'ac-w3rgwgl-shard-00-02.sua4tju.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='atlas-ir5kqg-shard-0', authsource='admin', retrywrites=True, w='majority'), 'TelephoneDirectory'), 'Info')

In [5]:
#Create and Insert the records in the database using python for CRUD operation..
record=[{"Name":"Karthi","Phone_number":114-9845,"place":"TamilNadu","Gender":"Male"},
       {"Name":"Siva","Phone_number":123-8799,"place":"Karnataka","Gender":"Male"},
       {"Name":"Arun","Phone_number":144-2344,"place":"TamilNadu","Gender":"Male"},
       {"Name":"Krish","Phone_number":114-4355,"place":"Tamilnadu","Gender":"Male"},
       {"Name":"Kishore","Phone_number":122-3466,"place":"TamilNadu","Gender":"Male"},
       {"Name":"Gautham","Phone_Number":144-2256,"place":"TamilNadu","Gender":"Male"},
       {"Name":"vivek","Phone_Number":144-5567,"place":"Kerala","Gender":"Male"},
       {"Name":"Sri ram","Phone_Number":144-2445,"place":"Andhra Pradesh","Gender":"Male"}]

In [6]:
collection.insert_many(record)

In [23]:
# To read all the Details
x=collection.find()
for data in x:
    print(data)

{'_id': ObjectId('634fa046c3c01e80852df630'), 'Name': 'Karthi', 'Phone_number': -9731, 'place': 'TamilNadu', 'Gender': 'Male'}
{'_id': ObjectId('634fa046c3c01e80852df631'), 'Name': 'Siva', 'Phone_number': -8676, 'place': 'Karnataka', 'Gender': 'Male'}
{'_id': ObjectId('634fa046c3c01e80852df632'), 'Name': 'Arun', 'Phone_number': -2200, 'place': 'TamilNadu', 'Gender': 'Male'}
{'_id': ObjectId('634fa046c3c01e80852df633'), 'Name': 'Krish', 'Phone_number': -4241, 'place': 'Tamilnadu', 'Gender': 'Male'}
{'_id': ObjectId('634fa046c3c01e80852df634'), 'Name': 'Kishore', 'Phone_number': -3344, 'place': 'TamilNadu', 'Gender': 'Male'}
{'_id': ObjectId('634fa046c3c01e80852df635'), 'Name': 'Gautham', 'Phone_Number': -2112, 'place': 'TamilNadu', 'Gender': 'Male'}
{'_id': ObjectId('634fa046c3c01e80852df636'), 'Name': 'vivek', 'Phone_Number': -5423, 'place': 'Kerala', 'Gender': 'Male'}
{'_id': ObjectId('634fa046c3c01e80852df637'), 'Name': 'Sri ram', 'Phone_Number': -2301, 'place': 'Andhra Pradesh', 'Gender': 'Male'}

In [24]:
# To read all Details clearly use prety print method in Mongo DB:
from pprint import pprint
x=collection.find({})#pretty print 
for doc in x:
    pprint(doc)

{'Gender': 'Male',
 'Name': 'Karthi',
 'Phone_number': -9731,
 '_id': ObjectId('634fa046c3c01e80852df630'),
 'place': 'TamilNadu'}
{'Gender': 'Male',
 'Name': 'Siva',
 'Phone_number': -8676,
 '_id': ObjectId('634fa046c3c01e80852df631'),
 'place': 'Karnataka'}
{'Gender': 'Male',
 'Name': 'Arun',
 'Phone_number': -2200,
 '_id': ObjectId('634fa046c3c01e80852df632'),
 'place': 'TamilNadu'}
{'Gender': 'Male',
 'Name': 'Krish',
 'Phone_number': -4241,
 '_id': ObjectId('634fa046c3c01e80852df633'),
 'place': 'Tamilnadu'}
{'Gender': 'Male',
 'Name': 'Kishore',
 'Phone_number': -3344,
 '_id': ObjectId('634fa046c3c01e80852df634'),
 'place': 'TamilNadu'}
{'Gender': 'Male',
 'Name': 'Gautham',
 'Phone_Number': -2112,
 '_id': ObjectId('634fa046c3c01e80852df635'),
 'place': 'TamilNadu'}
{'Gender': 'Male',
 'Name': 'vivek',
 'Phone_Number': -5423,
 '_id': ObjectId('634fa046c3c01e80852df636'),
 'place': 'Kerala'}
{'Gender': 'Male',
 'Name': 'Sri ram',
 'Phone_Number': -2301,
 '_id': ObjectId('634fa046c3c01e80852df637'),
 'place': 'Andhra Pradesh'}

In [28]:
# Update in MongoDB
y=collection.update_many({"Name":"Karthi"},{"$set":{"place":"Andhra Pradesh","Phone_Number":908345234}})
print("Data Updated ",y)

Data Updated  <pymongo.results.UpdateResult object at 0x000002400013B900>

In [29]:
x=collection.find_one()
print(x)

{'_id': ObjectId('634fa046c3c01e80852df630'), 'Name': 'Karthi', 'Phone_number': -9731, 'place': 'Andhra Pradesh', 'Gender': 'Male', 'Phone_Number': 908345234}

In [41]:
#Delete in MongoDB
collection.delete_many({"Name":"vivek"})

In [42]:
x=collection.find()
for i in x:
    print(i)

{'_id': ObjectId('634fa046c3c01e80852df631'), 'Name': 'Siva', 'Phone_number': -8676, 'place': 'Karnataka', 'Gender': 'Male'}
{'_id': ObjectId('634fa046c3c01e80852df632'), 'Name': 'Arun', 'Phone_number': -2200, 'place': 'TamilNadu', 'Gender': 'Male'}
{'_id': ObjectId('634fa046c3c01e80852df633'), 'Name': 'Krish', 'Phone_number': -4241, 'place': 'Tamilnadu', 'Gender': 'Male'}
{'_id': ObjectId('634fa046c3c01e80852df634'), 'Name': 'Kishore', 'Phone_number': -3344, 'place': 'TamilNadu', 'Gender': 'Male'}
{'_id': ObjectId('634fa046c3c01e80852df635'), 'Name': 'Gautham', 'Phone_Number': -2112, 'place': 'TamilNadu', 'Gender': 'Male'}
{'_id': ObjectId('634fa046c3c01e80852df637'), 'Name': 'Sri ram', 'Phone_Number': -2301, 'place': 'Andhra Pradesh', 'Gender': 'Male'}